{% extends 'layouts/default.html' %}
{% block body %}
<div class="container" role="main">
    <div class="row">
        <div class="col-lg-12 bg-transparent">
            <center><h1>Venez discuter avec Grand PY</h1></center>
        </div>
    </div>
    <div class="row col-sm-12 justify-content-center">
            <img src="{{url_for('static',filename='img/imgindex.jpeg')}}" />
    </div>
    <br >
    <div class="row col-sm-12 justify-content-center">
        <form action="{{ url_for('go') }}">
            <button type="submit">Commencer !</button>
        </form>
    </div>
</div>  
{% endblock body %}